Repository nanoexpress/nanoexpress: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, prettier -c

.lintstagedrc:

{
  "src/**/*.{json,md,yml}": ["prettier --write", "git add"],
  "src/**/*.js": ["prettier --write", "eslint --fix", "git add"]
}

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier -c"],
  "*.js": ["eslint", "prettier -c"],
  "*.md": ["prettier -c"]
}

chore: update workflow `env`
  .github/workflows/lint_test_release.yml
Due: none

chore: github workflow update
  .github/workflows/lint_test_release.yml
Due: none

chore: bump version to v7
  package.json
Due: none

chore: bump version to v6.3.0
  package.json
Due: none

chore: bump version to v6.4.0
  package.json
Due: none

chore: bump version to v6.4.1, add more env
  .github/workflows/lint_test_release.yml
  package.json
Due: none

chore(ci): update `package.json` version to v6.4.3 [skip ci]
  package.json
Due: none

chore(ci): update `package.json` version to v6.4.4 [skip ci]
  package.json
Due: none

docs(readme): add gitsponsors
  README.md
Due: prettier -c

docs(website): revert a scam
  README.md
Due: prettier -c

build: adopt bun as the package manager (text lockfile)
  bun.lock
  bun.lockb
  package.json
Due: none

chore(deps): upgrade all dependencies to latest; run tests with node:test
  bun.lock
  package.json
  src/response-proto/http/polyfill-chunks/redirect.test.js
  src/response-proto/http/polyfill-chunks/status.test.js
  src/response-proto/http/polyfill-chunks/write-head.test.js
  tests/core-helpers/http-response.test.js
  tests/core-helpers/normalizers.test.js
  tests/optional-features/ip-address.test.js
  tests/route-methods/route-get.js
Due: prettier --write, eslint --fix, eslint, prettier -c

chore: allow explicit any per previous airlight guideline; fix suppression comment
  biome.json
  src/compilers/route.js
Due: prettier --write, eslint --fix, eslint, prettier -c

style: keep unused vars/params as warnings; revert cosmetic renames
  biome.json
  examples/async-folder.js
  examples/basic.js
  examples/blazing-fast.js
  examples/body-parser.js
  examples/chaining-value.js
  examples/chaining.js
  examples/cookie.js
  examples/custom-console.js
  examples/error-handler.js
  examples/error-status-code.js
  examples/esm.js
  examples/graphql.js
  examples/json.js
  examples/middleware-test.js
  examples/not-found.js
  examples/proxy.js
  examples/redirect.js
  examples/require.cjs
  examples/route-example.js
  examples/router.js
  examples/sse.js
  examples/status-code.js
  examples/swagger/index.js
  examples/test.js
  examples/uws-app.js
  examples/webrtc.js
  examples/websocket.js
  src/Route.js
Due: prettier --write, eslint --fix, eslint, prettier -c

style: revert last cosmetic param rename (async chaining example)
  examples/chaining-value.js
Due: eslint, prettier -c

perf(route): patch HttpResponse proto once; index middleware loop
  src/Route.js
Due: prettier --write, eslint --fix, eslint, prettier -c

perf(body): assemble request body without a second copy
  src/request-proto/http/body.js
Due: prettier --write, eslint --fix, eslint, prettier -c

fix(route): return a generic error message in production
  src/Route.js
Due: prettier --write, eslint --fix, eslint, prettier -c

fix(redirect): never derive Location from the request Host header
  src/response-proto/http/polyfill-chunks/redirect.js
  src/response-proto/http/polyfill-chunks/redirect.test.js
  tests/core-helpers/http-response.test.js
Due: prettier --write, eslint --fix, eslint, prettier -c

ci: run PR checks on the PR head and pin bun version
  .github/workflows/pull_request.yml
Due: none
